# Entornos virtuales
venv/
myvenv/
.venv/

#
# Archivos de configuración de IDEs
.vscode/
.idea/
firebase-credentials.json

# Archivos estáticos compilados (opcional)
staticfiles/

# __pycache__ y archivos compilados de Python
__pycache__/
*.pyc

# archivos del sistema
.DS_Store
Thumbs.db
